Repository ESMValGroup/ESMValCore, pull requests merged in 2019-12, with the labels that each got.

#255 Expand vars in script paths
  esmvalcore/_task.py
Labels: enhancement

#361 Template for gitHub issue for dataset problems
  .github/ISSUE_TEMPLATE/data_issue_report.md
Labels: cmor, fix for dataset

#383 Mask_landsea file finding NOT done using the first member of file name only
  esmvalcore/preprocessor/_mask.py
Labels: bug, preprocessor

#331 Added land/sea fraction weighting preprocessor
  doc/esmvalcore/preprocessor.rst
  esmvalcore/_recipe.py
  esmvalcore/cmor/tables/custom/CMOR_csoil_grid.dat
  esmvalcore/cmor/tables/custom/CMOR_cveg_grid.dat
  esmvalcore/cmor/tables/custom/CMOR_fgco2_grid.dat
  esmvalcore/cmor/tables/custom/CMOR_gpp_grid.dat
  esmvalcore/cmor/tables/custom/CMOR_lai_grid.dat
  esmvalcore/cmor/tables/custom/CMOR_nbp_grid.dat
  esmvalcore/preprocessor/__init__.py
  esmvalcore/preprocessor/_derive/_shared.py
  esmvalcore/preprocessor/_derive/csoil_grid.py
  esmvalcore/preprocessor/_derive/cveg_grid.py
  esmvalcore/preprocessor/_derive/fgco2_grid.py
  esmvalcore/preprocessor/_derive/gpp_grid.py
  esmvalcore/preprocessor/_derive/lai_grid.py
  esmvalcore/preprocessor/_derive/nbp_grid.py
  esmvalcore/preprocessor/_weighting.py
  tests/integration/preprocessor/_derive/test_interface.py
  tests/integration/test_recipe.py
  tests/unit/preprocessor/_derive/test_csoil_grid.py
  tests/unit/preprocessor/_derive/test_cveg_grid.py
  tests/unit/preprocessor/_derive/test_fgco2_grid.py
  tests/unit/preprocessor/_derive/test_gpp_grid.py
  tests/unit/preprocessor/_derive/test_lai_grid.py
  tests/unit/preprocessor/_derive/test_nbp_grid.py
  tests/unit/preprocessor/_derive/test_shared.py
  tests/unit/preprocessor/_weighting/test_weighting_landsea_fraction.py
Labels: enhancement, preprocessor

#389 Generalized shapefile mask to account for possible multiple regions
  esmvalcore/preprocessor/_mask.py
Labels: enhancement, preprocessor

#397 run extract time only on non fx variables
  esmvalcore/_recipe.py
Labels: bug

#401 Update deprecated getargspec in check_preprocessor_settings.py
  esmvalcore/preprocessor/__init__.py
Labels: preprocessor

#272 extract_shape: support for subregions in shapefiles
  doc/esmvalcore/preprocessor.rst
  esmvalcore/preprocessor/_area.py
  tests/unit/preprocessor/_area/test_area.py
Labels: preprocessor, workshop
