Repository ESMValGroup/ESMValCore, pull requests merged in 2019-09, with the labels that each got.

#211 Better error messages
  esmvalcore/cmor/check.py
  esmvalcore/cmor/table.py
Labels: cmor, enhancement

#106 Change varname to lat and lon for multidimensional grids
  esmvalcore/cmor/_fixes/primavera/__init__.py
  esmvalcore/cmor/_fixes/primavera/ec_earth3_hr.py
  esmvalcore/cmor/check.py
  tests/integration/cmor/_fixes/primavera/__init__.py
  tests/integration/cmor/_fixes/primavera/test_ec_earth3_hr.py
  tests/unit/cmor/test_cmor_check.py
Labels: cmor

#207 Allow concatenation of diferent ensembles
  doc/esmvalcore/recipe.rst
  esmvalcore/recipe_schema.yml
Labels: enhancement

#156 Not cmor strict looks for variable in other tables
  esmvalcore/_recipe.py
  esmvalcore/cmor/table.py
  tests/integration/cmor/test_table.py
Labels: cmor

#107 Determine activities and institutes for CMIP6 loading CV table
  esmvalcore/_config.py
  esmvalcore/_recipe.py
  esmvalcore/cmor/table.py
  esmvalcore/config-developer.yml
  tests/integration/cmor/test_table.py
  tests/integration/test_recipe.py
Labels: cmor

#218 Add detrend preprocessor function
  doc/esmvalcore/preprocessor.rst
  esmvalcore/preprocessor/__init__.py
  esmvalcore/preprocessor/_detrend.py
  tests/unit/preprocessor/_detrend/test_detrend.py
Labels: enhancement, preprocessor

#87 Refactor time operations
  doc/esmvalcore/preprocessor.rst
  doc/esmvalcore/recipe.rst
  esmvalcore/preprocessor/__init__.py
  esmvalcore/preprocessor/_area.py
  esmvalcore/preprocessor/_shared.py
  esmvalcore/preprocessor/_time.py
  tests/unit/preprocessor/_time/test_time.py
Labels: preprocessor

#225 Convert fix_files to fix_metadata
  esmvalcore/cmor/_fixes/cmip5/hadgem2_cc.py
  esmvalcore/cmor/_fixes/cmip5/hadgem2_es.py
  esmvalcore/cmor/_fixes/cmip5/inmcm4.py
  tests/integration/cmor/_fixes/cmip5/test_inmcm4.py
Labels: fix for dataset

#240 Support pt frequencies
  esmvalcore/cmor/check.py
  tests/unit/cmor/test_cmor_check.py
Labels: bug, cmor

#236 Fix wrong name of cmor_path that prevented obs4mips cmor tables from being used
  esmvalcore/cmor/table.py
  esmvalcore/config-developer.yml
  tests/integration/cmor/test_read_cmor_tables.py
  tests/integration/cmor/test_table.py
Labels: bug, cmor

#220 Add extract_shape preprocessor function
  .prospector.yml
  doc/esmvalcore/config.rst
  doc/esmvalcore/preprocessor.rst
  doc/requirements.txt
  esmvalcore/_recipe.py
  esmvalcore/_recipe_checks.py
  esmvalcore/preprocessor/__init__.py
  esmvalcore/preprocessor/_area.py
  meta.yaml
  setup.py
  tests/integration/test_diagnostic_run.py
  tests/integration/test_recipe.py
  tests/unit/preprocessor/_area/test_area.py
Labels: preprocessor

#192 Add ocean heat content (ohc) derived variable
  esmvalcore/cmor/tables/custom/CMOR_ohc.dat
  esmvalcore/preprocessor/_derive/ohc.py
  tests/unit/preprocessor/_derive/test_ohc.py
Labels: variable derivation

#243 Fix bug in extract_region for irregular grids
  esmvalcore/preprocessor/_area.py
  tests/unit/preprocessor/_area/test_area.py
Labels: preprocessor

#224 Better concatenation error message
  esmvalcore/preprocessor/_io.py
  tests/integration/preprocessor/_io/test_concatenate.py
Labels: enhancement

#254 Make fixes case insensitive
  esmvalcore/cmor/_fixes/fix.py
  tests/integration/cmor/_fixes/test_fix.py
Labels: bug, fix for dataset

#241 Add pull request template
  .github/PULL_REQUEST_TEMPLATE/core_pr.md
  CONTRIBUTING.md
Labels: enhancement

#263 Add precipitation type custom table entry
  esmvalcore/cmor/tables/custom/CMOR_ptype.dat
Labels: cmor, eWaterCycle

#4 Prioritize task execution by recipe order
  doc/esmvalcore/recipe.rst
  esmvalcore/_recipe.py
  esmvalcore/_task.py
  esmvalcore/preprocessor/__init__.py
  tests/integration/test_task.py
Labels: enhancement, paper

#267 Development multi model statistics bugfix
  esmvalcore/preprocessor/_multimodel.py
  tests/unit/preprocessor/_multimodel/test_multimodel.py
Labels: preprocessor

#260 Clean up pull request template
  .github/pull_request_template.md
Labels: enhancement

#259 Extract time failing to get 0:00 hours of first day
  esmvalcore/preprocessor/_time.py
  tests/unit/preprocessor/_time/test_time.py
Labels: bug, preprocessor

#279 Change badc cmip5 drs version `latest` to `[latestversion]` (closes #278)
  esmvalcore/config-developer.yml
Labels: enhancement

#170 Working FX handling
  esmvalcore/_config.py
  esmvalcore/_data_finder.py
  esmvalcore/_recipe.py
  esmvalcore/_recipe_checks.py
  esmvalcore/cmor/check.py
  esmvalcore/config-developer.yml
  esmvalcore/preprocessor/_io.py
  tests/integration/test_data_finder.py
  tests/integration/test_recipe.py
Labels: enhancement, paper
