Repository ESMValGroup/ESMValCore, pull requests merged in 2020-12, with the labels that each got.

#886 Fix overwritting in generic level check
  esmvalcore/cmor/check.py
Labels: bug, cmor

#897 Add double quotes to script args in rerun screen message when using vprof profiling
  esmvalcore/_task.py
Labels: bug

#856 Add multimodel tests using real data
  .circleci/config.yml
  doc/contributing.rst
  esmvalcore/preprocessor/_multimodel.py
  setup.cfg
  setup.py
  tests/sample_data/multimodel_statistics/test_multimodel.py
  tests/sample_data/multimodel_statistics/timeseries_daily_365_day-full-mean.nc
  tests/sample_data/multimodel_statistics/timeseries_daily_365_day-overlap-mean.nc
  tests/sample_data/multimodel_statistics/timeseries_daily_gregorian-full-mean.nc
  tests/sample_data/multimodel_statistics/timeseries_daily_gregorian-overlap-mean.nc
  tests/sample_data/multimodel_statistics/timeseries_daily_proleptic_gregorian-full-mean.nc
  tests/sample_data/multimodel_statistics/timeseries_daily_proleptic_gregorian-overlap-mean.nc
  tests/sample_data/multimodel_statistics/timeseries_monthly-full-mean.nc
  tests/sample_data/multimodel_statistics/timeseries_monthly-overlap-mean.nc
Labels: preprocessor, testing

#892 Add plev/altitude conversion to extract_levels
  doc/recipe/preprocessor.rst
  esmvalcore/cmor/_fixes/shared.py
  esmvalcore/cmor/fixes.py
  esmvalcore/preprocessor/_regrid.py
  tests/integration/cmor/_fixes/test_shared.py
  tests/integration/preprocessor/_regrid/test_extract_levels.py
  tests/unit/cmor/test_fixes.py
Labels: enhancement, preprocessor

#902 Make CircleCI badge specific to master branch
  README.md
Labels: documentation

#247 Add posibility of custom season extraction.
  doc/recipe/preprocessor.rst
  esmvalcore/preprocessor/_time.py
  tests/unit/preprocessor/_time/test_time.py
Labels: enhancement, preprocessor

#901 Add Listing and finding recipes to the experimental notebook API
  doc/api/esmvalcore.api.config.rst
  doc/api/esmvalcore.api.recipe_info.rst
  doc/api/esmvalcore.api.rst
  doc/api/esmvalcore.api.utils.rst
  doc/requirements.txt
  esmvalcore/experimental/__init__.py
  esmvalcore/experimental/recipe_info.py
  esmvalcore/experimental/utils.py
  package/meta.yaml
  setup.py
  tests/unit/experimental/test_recipe_info.py
  tests/unit/experimental/test_utils.py
Labels: UX, enhancement

#783 adding the ability to derive xch4
  esmvalcore/preprocessor/_derive/_shared.py
  esmvalcore/preprocessor/_derive/xch4.py
  tests/unit/preprocessor/_derive/test_shared.py
  tests/unit/preprocessor/_derive/test_xch4.py
Labels: enhancement

#696 Add preprocessor function to resample time and compute x-hourly statistics
  doc/recipe/preprocessor.rst
  esmvalcore/preprocessor/__init__.py
  esmvalcore/preprocessor/_time.py
  tests/unit/preprocessor/_time/test_time.py
Labels: enhancement, preprocessor

#822 Cmip6 fix awi cm 1 1 mr
  esmvalcore/cmor/_fixes/cmip6/awi_cm_1_1_mr.py
  tests/integration/cmor/_fixes/cmip6/test_awi_cm_1_1_mr.py
Labels: fix for dataset

#836 Cmip6 fix ec earth3 veg
  esmvalcore/cmor/_fixes/cmip6/ec_earth3_veg.py
  tests/integration/cmor/_fixes/cmip6/test_ec_earth3_veg.py
Labels: fix for dataset

#919 Update CMIP6 tables to 6.9.33
  esmvalcore/cmor/tables/cmip6/.circleci/config.yml
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_3hr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_6hrLev.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_6hrPlev.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_6hrPlevPt.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_AERday.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_AERhr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_AERmon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_AERmonZ.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Amon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_CF3hr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_CFday.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_CFmon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_CFsubhr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_CV.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_E1hr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_E1hrClimMon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_E3hr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_E3hrPt.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_E6hrZ.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Eday.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_EdayZ.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Efx.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Emon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_EmonZ.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Esubhr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Eyr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_IfxAnt.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_IfxGre.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_ImonAnt.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_ImonGre.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_IyrAnt.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_IyrGre.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_LImon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Lmon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Oclim.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Oday.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Odec.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Ofx.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Omon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_Oyr.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_SIday.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_SImon.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_day.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_fx.json
  esmvalcore/cmor/tables/cmip6/Tables/CMIP6_grids.json
  esmvalcore/cmor/tables/cmip6/VERSION
  esmvalcore/cmor/tables/cmip6/ci-support/checkout_merge_commit.sh
  esmvalcore/cmor/tables/cmip6/scripts/CMIP6_CV_cron_github.sh
  esmvalcore/cmor/tables/cmip6/scripts/cleanupTags.py
Labels: cmor
