Repository ESMValGroup/ESMValCore, pull requests merged in 2020-05, with the labels that each got.

#557 State of the art FX variables handling without preprocessing
  doc/recipe/preprocessor.rst
  esmvalcore/_recipe.py
  esmvalcore/preprocessor/_area.py
  esmvalcore/preprocessor/_mask.py
  esmvalcore/preprocessor/_volume.py
  esmvalcore/preprocessor/_weighting.py
  tests/integration/preprocessor/_mask/test_mask.py
  tests/integration/test_recipe.py
Labels: enhancement, preprocessor

#571 Add pointers about data loading and CF standards to documentation
  doc/quickstart/find_data.rst
Labels: documentation

#602 Add max, min and std operators to multimodel
  doc/recipe/preprocessor.rst
  esmvalcore/preprocessor/_multimodel.py
  tests/unit/preprocessor/_multimodel/test_multimodel.py
Labels: enhancement, preprocessor

#640 Added fix to convert "geopotential" to "geopotential height" for ERA5
  esmvalcore/cmor/_fixes/native6/era5.py
  tests/integration/cmor/_fixes/native6/test_era5.py
Labels: fix for dataset

#597 Added preprocessor to extract amplitude of cycles
  doc/recipe/preprocessor.rst
  esmvalcore/preprocessor/__init__.py
  esmvalcore/preprocessor/_cycles.py
  tests/unit/preprocessor/_cycles/test_cycles.py
Labels: preprocessor

#615 Overhaul concatenation and allow for correct concatenation of multiple overlapping datasets
  esmvalcore/preprocessor/_io.py
  tests/integration/preprocessor/_io/test_concatenate.py
Labels: enhancement, preprocessor

#636 Do not fix longitude values if they are too far from valid range
  esmvalcore/cmor/check.py
  tests/unit/cmor/test_cmor_check.py
Labels: cmor, fix for dataset

#618 Change volume stats to handle and output masked array result
  esmvalcore/preprocessor/_volume.py
  tests/unit/preprocessor/_volume/test_volume.py
Labels: enhancement

#655 Fix concatenation of a single cube
  esmvalcore/preprocessor/_io.py
  tests/integration/preprocessor/_io/test_concatenate.py
Labels: bug
