Repository ESMValGroup/ESMValCore, pull requests merged in 2021-03, with the labels that each got.

#1025 Revert to original Github Actions test workflow removing the 3-hourly test run with -n 1
  .github/workflows/action-test.yml
Labels: testing

#1023 Update tests for multimodel statistics preprocessor
  tests/unit/preprocessor/_multimodel/test_multimodel.py
Labels: preprocessor, testing

#849 Check presence of time bounds and guess them if needed
  esmvalcore/cmor/check.py
  esmvalcore/preprocessor/_time.py
  tests/unit/cmor/test_cmor_check.py
  tests/unit/preprocessor/_time/test_time.py
Labels: cmor

#1030 Avoid stale cache for multimodel statistics regression tests
  tests/sample_data/multimodel_statistics/test_multimodel.py
Labels: testing

#1035 add newer Python versions in OSX to Github Actions
  .github/workflows/action-conda-publish.yml
  .github/workflows/action-install-from-conda.yml
  .github/workflows/action-install-from-pypi.yml
  .github/workflows/action-install-from-source.yml
  .github/workflows/action-test.yml
Labels: enhancement, testing

#1037 Move _get_time_bounds from preprocessor._time to cmor.check to avoid circular import with cmor module
  esmvalcore/cmor/check.py
  esmvalcore/preprocessor/_time.py
  tests/unit/test_cmor_api.py
Labels: bug

#882 Added fixes for hybrid level coordinates of CESM2 models
  esmvalcore/cmor/_fixes/cmip6/cesm2.py
  tests/integration/cmor/_fixes/cmip6/test_cesm2.py
  tests/integration/cmor/_fixes/cmip6/test_cesm2_waccm.py
Labels: fix for dataset

#1041 Raise in extract_season and extract_month if result is None
  esmvalcore/preprocessor/_time.py
  tests/unit/preprocessor/_time/test_time.py
Labels: enhancement, preprocessor

#764 Allow selection of shapes in extract_shape
  doc/recipe/preprocessor.rst
  esmvalcore/preprocessor/_area.py
  tests/unit/preprocessor/_area/test_area.py
Labels: enhancement, preprocessor

#1038 Add labels required for linking from ESMValTool docs
  doc/contributing.rst
  doc/interfaces.rst
  doc/quickstart/configure.rst
  doc/recipe/overview.rst
Labels: documentation

#1034 Add option for regional regridding to regrid preprocessor
  doc/recipe/preprocessor.rst
  esmvalcore/_recipe.py
  esmvalcore/preprocessor/_regrid.py
  tests/unit/preprocessor/_regrid/test__stock_cube.py
  tests/unit/preprocessor/_regrid/test_extract_regional_grid.py
  tests/unit/preprocessor/_regrid/test_regrid.py
Labels: preprocessor

#1051 Fix 'positive' attribute for rsns/rlns variables
  esmvalcore/cmor/tables/custom/CMOR_rlns.dat
  esmvalcore/cmor/tables/custom/CMOR_rsns.dat
Labels: bug, cmor

#1052 Add fixes for the net & up radiation variables from ERA5
  esmvalcore/cmor/_fixes/native6/era5.py
Labels: EUCP, cmor, fix for dataset

#767 Added preprocessor mask_multimodel
  doc/recipe/preprocessor.rst
  esmvalcore/preprocessor/__init__.py
  esmvalcore/preprocessor/_mask.py
  tests/integration/test_recipe.py
  tests/unit/preprocessor/_mask/test_mask_multimodel.py
Labels: bug, enhancement, preprocessor

#1057 Fix bug when fixing bounds after fixing longitude values
  esmvalcore/cmor/check.py
  tests/unit/cmor/test_cmor_check.py
Labels: bug, cmor

#1042 Add tests for type annotations with mypy
  .gitignore
  .pre-commit-config.yaml
  .prospector.yml
  doc/conf.py
  doc/contributing.rst
  esmvalcore/_config/_logging.py
  esmvalcore/_recipe.py
  esmvalcore/_task.py
  esmvalcore/cmor/table.py
  esmvalcore/experimental/_logging.py
  esmvalcore/experimental/_warnings.py
  esmvalcore/experimental/config/_config_object.py
  esmvalcore/experimental/config/_validated_config.py
  esmvalcore/experimental/recipe.py
  esmvalcore/experimental/recipe_info.py
  esmvalcore/experimental/recipe_metadata.py
  esmvalcore/experimental/recipe_output.py
  esmvalcore/experimental/templates/__init__.py
  esmvalcore/experimental/utils.py
  esmvalcore/preprocessor/_regrid.py
  package/meta.yaml
  setup.cfg
  setup.py
  tests/integration/test_data_finder.py
  tests/integration/test_recipe_checks.py
  tests/unit/experimental/test_config.py
  tests/unit/preprocessor/_time/test_time.py
  tests/unit/preprocessor/_weighting/test_weighting_landsea_fraction.py
Labels: testing

#1059 Update yamale to version 3
  .circleci/config.yml
  .github/workflows/action-conda-publish.yml
  doc/contributing.rst
  esmvalcore/_recipe_checks.py
  package/meta.yaml
  setup.py
  yamale_meta.yaml
Labels: deployment, installation
