Repository ESMValGroup/ESMValCore, pull requests merged in 2025-06, with the labels that each got.

#2579 Allow `fix_file` to return dataset objects
  doc/conf.py
  doc/develop/fixing_data.rst
  doc/recipe/preprocessor.rst
  environment.yml
  esmvalcore/cmor/_fixes/cmip6/cesm2.py
  esmvalcore/cmor/_fixes/cmip6/cesm2_waccm.py
  esmvalcore/cmor/_fixes/emac/emac.py
  esmvalcore/cmor/_fixes/fix.py
  esmvalcore/cmor/_fixes/ipslcm/ipsl_cm6.py
  esmvalcore/cmor/fix.py
  esmvalcore/exceptions.py
  esmvalcore/iris_helpers.py
  esmvalcore/preprocessor/_io.py
  esmvalcore/preprocessor/_regrid_esmpy.py
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/integration/preprocessor/_io/test_concatenate.py
  tests/integration/preprocessor/_io/test_load.py
  tests/integration/preprocessor/_time/test_time.py
  tests/unit/preprocessor/_detrend/test_detrend.py
  tests/unit/test_dataset.py
  tests/unit/test_iris_helpers.py
  tests/unit/test_logging.py
Labels: fix for dataset

#2751 Added custom CMOR tables for `dpn2o` and `n2oflux`
  esmvalcore/cmor/tables/custom/CMOR_dpn2o.dat
  esmvalcore/cmor/tables/custom/CMOR_n2oflux.dat
Labels: cmor

#2754 fix Codecov badge in README
  README.md
Labels: documentation
